body {
    padding: 0;
    margin: 0;
}

.button {
    margin: 2px;
    color: #fff;
}

.mat-raised-button[disabled] {
    color: white;
} 

.mat-list-base .mat-list-item {
    color: white;
}

.mat-card-content {
    display: flex;
    margin-left: 5px;
}

.chip-list {
    width: 40%;
}

.card {
    width: 50%;
    background-color: #424242;
    color: white;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
  
.radio-button {
    margin: 5px;
}

/* Loading spinner */
.loading-indicator {
    position: fixed;
    z-index: 1200 !important;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
  
  .loading-indicator mat-progress-spinner {
    margin-left: -25px;
    margin-top: 15px;
}
  
  /* Transparent Overlay */
  
  .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.table {
    width: 100%;
    
}